.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/**/*.jks

# macOS
.DS_Store
